<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".presenter.PersianBallApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_persianball_logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_persianball_logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewPersianBall"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presenter.feature.login.PersianBallPrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.feature.message.PushMessageActivity"
            android:exported="false" />

        <receiver
            android:name=".notification.NotificationReceiver"
            android:exported="false" />

        <service
            android:name=".notification.FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".presenter.feature.shopping.payment.PaymentWebViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".presenter.feature.shopping.address.add.AddAddressActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".presenter.feature.shopping.OrderRecordActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".presenter.feature.shopping.ShoppingCartsActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".presenter.feature.player.PlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".presenter.feature.login.LoginActivity"
            android:exported="true"
            android:theme="@style/MyAutofilledHighlight" />
        <activity
            android:name=".presenter.MainActivity"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="payment"
                    android:scheme="www.persianball.ir"
                    android:pathPrefix="/"/>
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://f917f48a038c46a7a1a5115cbeabf4bf@sentry.persianball.ir/5" />
        <meta-data
            android:name="io.sentry.ndk.enable"
            android:value="false" />
        <meta-data
            android:name="io.sentry.attach-screenshot"
            android:value="true" />
    </application>

</manifest>